// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-black-15: rgba(0, 0, 0, 0.15);
$color-black-10: rgba(0, 0, 0, 0.10);
$color-very-light-grey: #CBCBCB;
$color-zambezi: #606060;
$color-blue-marguerite: #6C5FBC;
$color-nero: #201F1F;
$color-nero-20: rgba(32, 31, 31, 0.2);
$color-rich-blue: #5C4EAE;
$color-dim-gray: #676767;
$color-biscay: #334155;
$color-revolver: #323142;
$color-mischka: #ACADB9;
$color-black-russian: #1A202C;
$color-black-russian-15: rgba(26, 32, 44, 0.15);
$color-grey: #828282;
$color-grey-25: rgba(129, 129, 129, 0.25);
$color-whisper: #E7E7E7;
$color-whisper-92: rgba(231, 231, 231, 0.92);
$color-whisper-70: rgba(231, 231, 231, 0.7);
$color-melrose: #C5BFED;
$color-silver: #C5C5C5;
$color-silver-15: rgba(197, 197, 197, 0.15);
$color-ghost-white: #F4F4F6;
$color-galliano: #DAA31A;
$color-gin-fizz: #F7EDD0;
$color-manatee: #8E97A6;
$color-red-orange: #FB471D;
$color-your-pink: #F7C5BA;
$color-eucalyptus: #309D5B;
$color-medium-sea-green: #33AC64;
$color-medium-sea-green-20: rgba(51, 172, 100, 0.2);
$color-snow: #F9F9F9;
$color-alice-blue: #EDF2F7;
$color-magnolia: #F4F0FF;
$color-dark-tangerine: #FBAD18;
$color-nobel: #999999;
$color-black-pearl: #081420;

// Typography

$ff-poppins: "Poppins", "Arial", sans-serif;
$ff-inter: "Inter", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;
$ff-public-sans: "Public Sans", "Arial", sans-serif;
$ff-manrope: "Manrope", "Arial", sans-serif;
$ff-quicksand: "Quicksand", "Arial", sans-serif;


// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animations
$transition-300: 0.3s ease-in;

