.custom-input {

  &__label {
    display: flex;
    flex-direction: column;
    padding: 15px 12px 11px;
    border-radius: 15px;
    width: 100%;
    max-width: 68px;
    height: 100%;
    gap: 15px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 14.71px 22.07px 0 rgba(135, 125, 200, 0.25);
    position: relative;
    user-select: none;

    &--golden {
      background-color: $color-golden-glow-35;

      .custom-input__name {
        color: $color-gamboge;
      }
    }

    &--pink {
      background-color: $color-your-pink;

      .custom-input__name {
        color: $color-red-orange;
      }
    }

    &--harvest {
      background-color: $color-harvest-gold-35;

      .custom-input__name {
        color: $color-gamboge;
      }
    }

    &--cornflower {
      background-color: $color-cornflower-blue-35;

      .custom-input__name {
        color: $color-sapphire;
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;

      @include vp-1023 {
        border-radius: 10px;
      }
    }

    &-sort {
      color: $color-mischka;
      font-family: $ff-poppins;
      font-weight: 500;
      font-size: 15px;
      line-height: 29px;
      user-select: none;
      cursor: pointer;

      @include vp-1023 {
        font-size: 11px;
        line-height: 20px;
      }
    }

    @include vp-1023 {
      padding: 11px 11px 8px;
      border-radius: 10px;
      gap: 12px;
      max-width: 47px;
    }
  }

  &__field:checked + .custom-input__label::before {
    border: 4px solid $color-red-orange-50;
  }

  &__field:checked + .custom-input__label-sort {
    color: $color-blue-marguerite;
  }

  &__name {
    font-family: $ff-poppins;
    font-weight: 500;
    font-size: 15px;
    margin: auto 0 0;

    @media (max-width: 1170px) {
      font-size: 11px;
    }

    @include vp-1023 {
      font-size: 8px;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;

    @media (max-width: 1170px) {
      width: 30px;
      height: 30px;
    }

    @include vp-1023 {
      width: 24px;
      height: 24px;
    }
  }
}