.custom-range {

  &__range {
    width: 100%;
    margin: 0 0 5px;
    appearance: none;
    background: none;
  }

  &__range::-webkit-slider-runnable-track {
    //box-sizing: border-box;
    height: 6px;
    background-color: $color-blue-marguerite;
    border-radius: 9px;
  }

  &__range::-moz-range-track {
    height: 6px;
    background-color: $color-blue-marguerite;
    border-radius: 9px;
  }

  &__range:focus-visible {
    outline: none;
  }

  &__range:focus-visible::-webkit-slider-runnable-track {
    outline-offset: 15px;
    outline: 1px solid $color-blue-marguerite;
  }

  &__range:focus-visible::-moz-range-track {
    outline-offset: 15px;
    outline: 1px solid $color-blue-marguerite;
  }

  &__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    margin-top: -7.5px;
    border: none;
    border-radius: 50%;
    background-color: $color-blue-marguerite;
    box-shadow: 0 0 0 5px inset $color-mischka;
    transition: 300ms;
  }

  &__range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    margin-top: 0;
    border: none;
    border-radius: 50%;
    background-color: $color-blue-marguerite;
    box-shadow: 0 0 0 5px inset $color-mischka;
    transition: 300ms;
  }

  &__range:focus-visible {
    outline-offset: 10px;
    outline: 1px solid $color-blue-marguerite;
  }

  &__range:hover::-webkit-slider-thumb,
  &__range:focus-visible::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px inset $color-blue-marguerite;
  }

  &__range:hover::-moz-range-thumb,
  &__range:focus-visible::-moz-range-thumb {
    box-shadow: 0 0 0 10px inset $color-blue-marguerite;
  }

  &__range:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset $color-blue-marguerite;
  }
  &__range:active::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset $color-blue-marguerite;
  }

  &__range:disabled::-webkit-slider-thumb {
    box-shadow: 0 0 0 30px inset $color-mischka;
  }

  &__range:disabled::-moz-range-thumb {
    box-shadow: 0 0 0 30px inset $color-mischka;
  }

  &__range:focus-visible::-webkit-slider-thumb {
    outline: 3px solid #41e847;
  }

  &__range:focus-visible::-moz-range-thumb {
    outline: 3px solid #41e847;
  }

  &__range::-webkit-slider-thumb {
    margin-top: -10px;
  }

  &__label {
    color: $color-ghost;
    font-family: $ff-poppins;
    font-weight: 500;
    font-size: 11px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1023 {
      font-size: 7px;
      line-height: 21px;
    }
  }
}